/*-------------------------------Color*/ 



/*-------------------------------Nav*/ 

.navbar {
background-color: rgba(0, 0, 0, 0.8);
vertical-align: middle;
}

.navbar-brand h2 {
color: white;
font-weight: 200;
vertical-align: middle;
}

.center-menu { 
text-align: center;
}

.nav-item {
    font-size: 20px;
}
