@font-face {
  src: url(fonts/AmericanaStd.woff);
  font-family: "AmericanaStd";
}

@font-face {
  src: url(fonts/LaoMN.ttf);
  font-family: "Lao";
}

.logotext {
  font-family: "AmericanaStd";
}

body {
  font-family: "Lao";
}

/*-------------------------------Color*/

/*-------------------------------Nav*/

.nav {
  width: 100%;
  position: relative;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.64);
  vertical-align: middle;
  z-index: 900;
  height: 80px;
}

.navbar-brand h2 {
  color: white;
  font-family: AmericanaStd;
  font-weight: 100;
  font-size: 26px;
  letter-spacing: 2px;
  vertical-align: middle;
  display: inline;
}

.navbar-toggler {
  display: inline;
  background: none;
  border: none;
}

.center-menu {
  text-align: center;
  font-family: AmericanaStd;
  font-size: 20px;
  letter-spacing: 1px;
}

.nav-item {
  font-size: 20px;
}

.navbar ul li {
  position: relative;
}

#navbarNavDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.64);
  border-color: rgba(0, 0, 0, 0.64);
}

.Nav2 {
  background-color: rgba(0, 0, 0, 0.84);
  width: 100%;
  position: relative;
}

#navbarNavDropdown2 {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.84);
  border-color: rgba(0, 0, 0, 0.84);
}

/*-------------------------------Jumbotron*/

.container-hero-bg {
  background: url("../images/13.jpg") no-repeat center center fixed;
  width: 100%;
  height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.callout-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  background: none;
}

.jumbotron-header {
  color: white;
  font-family: lao;
  font-size: 11vw;
  padding-top: 40px;
}

.first-button {
  color: white;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1.5px;
  height: 35px;
  width: 170px;
  text-align: center;
  padding: 0;
  background: rgb(199, 200, 160, 0.63);
  border-color: rgb(255, 255, 255, 0.44);
  border-width: 0.1px;
  border-radius: 0;
  margin-top: 40px;
}

/*-------------------------------Biography*/

.container-bio {
  padding: 10px 0 4px 0;
  text-align: center;
  background-color: rgb(219, 219, 219, 0.33);
}
.bio-text {
  padding-top: 5px;
  margin: 65px 5px 45px 5px;
}
.bio-text p {
  font-size: 16px;
  letter-spacing: 1px;
}

.media-picture {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50;
}

.second-button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 0.1px;
  letter-spacing: 1px;
  height: 28px;
  width: 110px;
  background: transparent;
}
.bio-text button {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
}

/*-------------------------------Fanmail*/
.inline {
  display: flex;
  align-items: center;
  text-align: center;
}

.email-form {
  background-color: rgb(199, 200, 160);
  padding: 50px 30px 50px 30px;
  align-items: center;
}
.email-input {
  color: black;
  width: 60%;
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
}

.form-div {
  font-family: "Lao";
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: auto;
  justify-content: center;
}

.email-button {
  margin-left: 60px;
}

/*-------------------------------Footer*/

.footer-container {
  width: 100%;
  height: 250px;
  padding-top: 50px;
  background-color: rgb(20, 53, 70, 0.89);
  position: relative;
  justify-content: center;
  align-content: center;
}

.footer-links {
  text-align: center;
  margin-left: 3px;
}

.footer-links a {
  margin-right: 8px;
}

.footer-text-div {
  color: white;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.footerbottomtext {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* -------------------------------Songs */
.bg-container-songs {
  background-color: rgb(212, 212, 212);
  width: 100%;
  height: 100%;
}

.songs-header-text {
  margin: 30px 20px 20px 20px;
}
.container-songs .row {
  justify-content: center;
  margin: 40px 0 50px 0;
}
.inline2 {
  display: flex;
  align-items: center;
  text-align: left;
}

.container-songs .songbox {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.songbox img {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.songbox .title {
}

.title {
  width: 48vh;
  height: 35px;
  vertical-align: center;
}

.title p {
  margin-bottom: 0px;
  margin-right: 0px;
}
.title-text {
  width: 65%;
}

.stream-button {
  width: 35%;
  text-align: right;
  margin-right: 3px;
}
.row {
  margin: 0;
}
.songbox {
  color: black;
  font-family: "Lao";
  font-size: 16px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.1);
  border-width: 0.1px;
  margin: 5px;
}

.songbox p {
  bottom: 0;
  left: 0;
}

.songbox a {
  text-decoration: none;
  text-align: center;
}

.third-button {
  border-width: 0.1px;
  letter-spacing: 1px;
  height: 28px;
  width: 100px;
  background: transparent;
  font-size: 12px;
  margin-bottom: 1rem;
}

.dim-img {
  height: 48vh;
  width: 48vh;
}

.bumpercars-img {
  height: 48vh;
  width: 48vh;
}

.comfortable-img {
  height: 48vh;
  width: 48vh;
}

@media (min-width: 768px) {
  .email-form {
    padding: 50px 20px 50px 100px;
  }
}

@media (min-width: 931px) {
  .email-form {
    padding: 50px 20px 50px 200px;
  }
}

@media (min-width: 415px) {
  .footer-links a {
    margin-right: 1rem;
  }
}

@media (min-height: 1280px) {
  .email-form {
    padding-left: 150px;
  }
}
